@keyframes moveInLeft {
  /* For the browser performance it is best to only ever animate two different properties (opacity and transform). But with transform you can do a whole lot. */
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translatey(3rem);
  }
  100% {
    transform: translate(0);
  }
}
