/* With universal selector *-element we give the styling to all the elements in the page, (also pseudo elements which are not included by default). */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Base font-size 10/16 so 1 rem = 10px*/
html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
